.header {
    width: 100dvw;
    background-color: #252f3d;
    padding:2rem
}

.biletall-logo{
    background-image:url(../img/biletall.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:20dvw;
}

    .biletall-menu{
        display:flex;
        flex-wrap:nowrap;
        gap:1rem;
        justify-content:center;
        align-items:center;
        list-style:none;
    }
    .menu-item{
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
        .menu-item:nth-child(1)::after {
            color: white;
            height: 1rem;
            width: 1rem;
            border-left: 1px solid white;
            content: "";
            margin-left: 2rem
        }

        .menu-item:nth-child(2)::after {
            color: white;
            height: 1rem;
            width: 1rem;
            border-left: 1px solid white;
            content: "";
            margin-left: 2rem
        }

        .menu-item a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem
        }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .biletall-menu {
        display:none;
    }

    .burger-menu{
        display:inline-block;
        cursor:pointer;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
}