<navbar>
    <div class="topbar container">
        <a class="site-logo">
            <h2>biletall</h2><h3>.com</h3>
        </a>
        <ul class="menu-list">
            <li><a href="#">Yardým</a></li>
            <li><a href="#">Seyahat Sorgulama</a></li>
            <li><a href="#">Üye Giriþi</a></li>
        </ul>
    </div>
    <div class="options">
        <ul class="container">
            <li>
                <button class="btn-option selected">
                    <img src="~/Assets/svgs/bus-dark.svg" class="icon d-none" />
                    <img src="~/Assets/svgs/bus-white.svg" class="icon" />
                    Otobüs
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/plane-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/plane-white.svg" class="icon d-none" />
                    Uçak
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/bed-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/bed-white.svg" class="icon d-none" />
                    Otel
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/car-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/car-white.svg" class="icon d-none" />
                    Araba
                </button>
            </li>
        </ul>
    </div>
    <div class="trip-search">
        <h2>Türkiye'nin </h2>
        <ul class="animation-header">
            <li><h2>Güvenilir Seyahat Uygulamasý</h2></li>
            <li>
                <h2>
                    Popüler Seyahat Uygulamasý
                </h2>
            </li>
            <li>
                <h2>
                    Bütçe Dostu Seyahat Uygulamasý
                </h2>
            </li>
        </ul>
    </div>
</navbar>