<navbar>
    <div class="topbar container">
        <a class="site-logo">
            <h2>biletall</h2><h3>.com</h3>
        </a>
        <ul class="menu-list">
            <li><a href="#">Yardým</a></li>
            <li><a href="#">Seyahat Sorgulama</a></li>
            <li><a href="#">Üye Giriþi</a></li>
        </ul>
    </div>
    <div class="options">
        <ul class="container mb-0">
            <li>
                <button class="btn-option selected">
                    <img src="~/Assets/svgs/bus-dark.svg" class="icon d-none" />
                    <img src="~/Assets/svgs/bus-white.svg" class="icon" />
                    Otobüs
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/plane-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/plane-white.svg" class="icon d-none" />
                    Uçak
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/bed-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/bed-white.svg" class="icon d-none" />
                    Otel
                </button>
            </li>
            <li>
                <button class="btn-option">
                    <img src="~/Assets/svgs/car-dark.svg" class="icon" />
                    <img src="~/Assets/svgs/car-white.svg" class="icon d-none" />
                    Araba
                </button>
            </li>
        </ul>
    </div>
    <div class="trip-search container">
        <div class="search-panel row g-3">
            <div class="from col-12 col-md-6">
                <label class="label">Nereden</label>
                <input class="input dropdown-toggle" id="fromDropdown" type="text" name="name" value="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu rounded" style="overflow-y:auto;height:25dvh;width:100%"  aria-labelledby="fromDropdown">
                </div>
            </div>
            <div class="to col-12 col-md-6">
                <label class="label">Nereye</label>
                <input class="input dropdown-toggle" type="text" id="toDropdown"  name="name" value="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu rounded" style="overflow-y: auto; height: 25dvh; width: 100%" aria-labelledby="toDropdown">
                </div> 
            </div>
            <img class="switch-svg" src="~/Assets/svgs/switch.svg" alt="switch" />
        </div>
    </div>
</navbar>